#result{
    display: none;
    background-color: whitesmoke;
    width: 80%;
    text-align: center;
    border-radius: 20px;
  }
  #shareResult{
    background-color: whitesmoke;
    width: 80%;
    text-align: center;
    border-radius: 20px;
  }
  
  .startBtn{
    font-family: JGaegujaengyi-Bold-KO;
    padding: 5px 50px;
    width: 50%;
    height: 60px;
    border: 3px solid #6894E9;
    color: #6894E9;
    border-radius: 8px;
    font-size: 30px;
}
.startBtn:hover, .startBtn:active {
    background-color: #6894E9;
    color: white;
    
}

.resultDesc1{
    font-size: 20px;
    font-family: GmarketSansLight;
    background: #FFF5E1;
    border-radius: 20px;
    margin : auto;
    width: 80%;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 30px;
  }
  
  
 .resultName{
    margin-top: 10px;
    font-size: 2em; 
    border: none;
    font-family: JGaegujaengyi-Bold-KO;
    background: #FFD075;
    border-radius: 19px;
    margin : auto;
    width: 50%;

  }

.resultIntro {
    font-size:30px;
    color: black;
  }

.resultDescTitle2, .resultDescTitle3{
    font-size: 1.5em; 
    font-family: JGaegujaengyi-Bold-KO;
    background: #E9F0FF;
    border-radius: 14px;
    text-align: center;
    display: inline-block;
    width: 40%;
    padding : 5px 30px;
    
  }
  

.resultDesc2,.resultDesc3 {
    margin-top: 10px;
    margin-bottom: 14px;
    font-size: 1em;
    color: #868686;
    font-family: JGaegujaengyi-Bold-KO;

  }

  
.shareReusltBox{
    margin-top: 40px;
  }
.shareReuslt{
    font-size: 1.5em; 
    font-family: GmarketSansMedium;
    color: #868686;
  }